<h1>Customers</h1>

<table>
    <thead>
        <tr>
        <th>Name</th>
        </tr>
        
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
        <tr>
            <td><%= customer.name %></td>
            <td><%= link_to "Show", customer_path(customer.id) %>
            </tr>
            <% end %>
    </tbody>
</table>
<%= link_to "Restaurants", restaurants_path %><br>
<%= link_to "Add a Customer", new_customer_path %>
</body>
