<style> 
table, th, td {
    border: 1px solid;
    padding: 3px;
    margin: 5px;
}
    table {
        height: 100px
    }
    .image_cap{
        max-height:300px;
        width: 100%;
    }
    .container {
        text-align: center;

    }
    .linkToHome{
        font-size: 25px;
    }
</style>
<div class= "container" > 
<h1>Users</h1>
<table class = "table table-dark">
    <thead>
        <tr>
        <th scope="col" >Name</th>
        <th scope="col" >Details</th>
        </tr>
        
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
            <%if customer.id != session[:customer_id]%>
                <tr>
                    <td><%= customer.name %></td>
                    <td><%= link_to "Show", customer_path(customer.id) %>
                </tr>
            <%end%>
        <% end %>
    </tbody>
</table>

<div class = "linkToHome"> 
<%=link_to "Home", customer_path(session[:customer_id])%><br>
</div>
</div>
</body>
