<style> table, th, td {
    border: 1px solid;
}
    table {
        height: 100px
    }
    .image_cap{
        max-height:300px;
        width: 100%;
    }
    
</style>
<h1>Users</h1>

<table>
    <thead>
        <tr>
        <th>Name</th>
        <th>Details</th>
        </tr>
        
    </thead>
    <tbody>
        <% @customers.each do |customer| %>
            <%if customer.id != session[:customer_id]%>
                <tr>
                    <td><%= customer.name %></td>
                    <td><%= link_to "Show", customer_path(customer.id) %>
                </tr>
            <%end%>
        <% end %>
    </tbody>
</table>
<%=link_to "Home", customer_path(session[:customer_id])%><br>
</body>
