<h1>Restaurants</h1>
<ul>
    <%@restaurants.each do |r|%>
    <li>
       <%=link_to r.name, r%>
       <%=r.restaurant_type%>
    </li>
    <%end%>
</ul>
<%=link_to "Home", customer_path(session[:customer_id])%><br>

