<h1>Restaurants</h1>
<ul>
    <%@restaurants.each do |r|%>
    <li>
       <%=link_to r.name, r%>
       <%=r.restaurant_type%>
    </li>
    <%end%>
</ul>
<h4><%=link_to "Create New Restaurant", new_restaurant_path%>
